@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
nav img{
    width: 100%;
    display: flex;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
body{
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #5CDB95;
    padding: 0rem 0rem;
    padding-bottom: 100px;
    letter-spacing: 1px;
    
}
nav{
    width: 100%;
    margin: auto;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
nav:hover{
    background-color: #05386B;
    transition: 0.5s;
}
nav:hover .link a{
    color: #eaf6de;
    transition: 1s;   
}
nav .btn-main {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #eaf6de;
    border-radius: 5px;
    background-color: #05386B;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
    -moz-transform: skew(-15deg, 0deg);
    -webkit-transform: skew(-15deg, 0deg);
    -o-transform: skew(-15deg, 0deg);
    -ms-transform: skew(-15deg, 0deg);
    transform: skew(-15deg, 0deg);
}
nav:hover .btn-main {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #05386B;
    border-radius: 5px;
    background-color: #eaf6de;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
}
nav:hover .btn-main:hover {
    background-color: #eaf6de;
    color: #05386B;
    transition: 0.5s;   
}
.nav-logo .mainlogo{
    max-width: 100px;
    
}
nav:hover .nav-logo .mainlogo{
    filter: brightness(0) invert(1);
    transition: 0.5s;
    
}
.nav-lists{
    list-style-type: none;
    display: flex;
    gap: 3rem;

}
.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #05386B;
    font-weight: bold;
}
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #eaf6de;
    transition: all 0.3s ease;
}
.link a:hover::after{
    width: 100%;
}
header{
    position: relative;
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    
    
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
}
header .content h1{
    color: #05386b;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;;
}
header p{
    color: #05386b;
    font-size: 2rem;
}
header .content h1 span {
    transition: all 0.5s ease;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}
header .content h1 span:hover {
  transition: all 1s ease;
    -webkit-text-fill-color: #eaf6de; /* Fill color on hover */
    -webkit-text-stroke: 2px #05386b; /* Stroke color and width */
    
}
header .content .startbtn{
    padding: 1rem 1rem;
    font-size: 1rem;
    color: #eaf6de;
    background-color: #05386b;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1rem;

}
header .content .startbtn:hover{
    background-color: rgb(24, 35, 74);
}
header .header-img image{
    max-width: 600px;
}
.about{
    max-width: 1200px;
    margin: auto;
    grid-template-columns: auto auto;
    padding: 1rem 1rem;

}
.about h2{
  text-align: center;
  font-size: 2.5rem;
  color: #05386b;
  text-align: center;
  margin: auto;
  letter-spacing: 2px;
  padding: 50px 0;
  font: 300 60px;
}
.about p{
    color: #05386b;
    font-size: 1.5rem;
    text-align: center;
}
.project{
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
    list-style-type: none;

}
.project h2{
  text-align: center;
  font-size: 2.5rem;
  color: #05386b;
  text-align: center;
  margin: auto;
  letter-spacing: 2px;
  padding: 50px 0;
  font: 300 60px;
}
.project .project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; /* Adjust width to account for margin and gap */
    margin-top: 0;
    gap: 5px;
}
.project .card{
    width: 380px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2rem 1rem;
    border-radius: 16px; /* Adjust border radius */
    display: flex; /* Add display flex */
    flex-direction: column; /* Set flex direction to column */
    justify-content: space-between; /* Vertically center content */
    border: 3px outset #1C6EA4;
}
.project .card:hover {
  -webkit-box-shadow: 0px -2px 16px 10px rgba(5,56,107,0.32); 
  box-shadow: 0px -2px 16px 10px rgba(5,56,107,0.32);
}
.project .card .card-btn{
  align-items: center;
  background-color: #1C6EA4;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #eaf6de;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    
}
.project .card .card-btn:after{
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}
.project .card .card-btn:hover:after {
  transform: translate(0, 0);
}

.project .card .card-btn:active{
  background-color: #ebf6de;
  outline: 0;
}
.project .card .card-btn:hover{
  outline: 0;
}
@media (min-width: 768px) {
  .card-button {
    padding: 0 40px;
  }
}
.project .card h5{
    font-size: 1.5rem;
    color: #ebf6de;
}
/**FOOTER**/
footer{
    max-width: 1200px;
    margin: auto;
    padding: 0;
    padding-bottom: 100px;
}
footer h2{
    text-align: center;
    font-size: 2.5rem;
    color: #05386b;
    text-align: center;
    margin: auto;
    letter-spacing: 2px;
    padding: 50px 0;
    font: 300 60px;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    max-width: 1200px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.contact-form{
    margin-left: 175px;
    width: 400px;
    font-family: none;
    text-align: center;
    position: relative;
}
.contact-inputs{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 15px;
    color: #05386b; 
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
.contact-form textarea{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
    height: 140px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 10px;
    resize: none;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
.contact-form .btn-submit{
  padding: 15px 40px;
  background: #05386b;
  border:0;
  color: #ebf6de;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style:oblique;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
  border-radius: 10px;
  margin: auto;
  width: 75%;
}
.contact-form .btn-submit::after,
.contact-form .btn-submit::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contact-form .btn-submit::after{
    width: 50px;
    height: 1px;
    background: #ebf6de;
    transform: translateX(-3px);
    margin-top: 0px;
}

.contact-form .btn-submit::before{
    content: "";
    transform: rotate(-135deg) translateX(50%);
    width: 11px;
    height: 11px;
    background: transparent;
    border-left: 1px solid #ebf6de;
    border-bottom: 1px solid #ebf6de;
  margin-top: -1px;
}


.contact-form .btn-submit:hover{
  padding: 15px 60px 15px 20px;
}

.contact-form .btn-submit:hover::after,
.contact-form .btn-submit:hover::before{
  opacity: 1;
  right: 15px;
}
/**End of button**/
.direct-contact{
    max-width: 400px;
    margin-right: 175px;

}
.contact-list{
    list-style-type: none;
    margin-left: 30px;
    padding-right: 20px;
}
.contact-list i{
    color:#05386B
}
.list-item{
    line-height: 4;
}
.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 0.5px;
    color: #05386b;
}

.place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: rgb(32, 72, 112);
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #ebf6de;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    
  }
  
  .social-media-list li a {
    color: #ebf6de;
  }
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 15px 10px;
    line-height: 60px;
    border-radius: 50%;
    color: #ebf6de;
    background-color: #05386b;
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #ebf6de;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #ebf6de; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #05386b;
  }
  
  .copyright {
    padding-top: 10px;
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-top: 2px solid #05386b;
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-container {
      display: flex;
      flex-direction: column;
    }
    .direct-contact, .contact-form {
      margin: 0 auto;
    }  
    
    .direct-contact {
      margin-top: 60px;
      max-width: 400px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact, .contact-form {
      float: none;
      margin: 0 auto;
    }  
    .contact-inputs, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact {
      margin-top: 60px;
      max-width: 600px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 1rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }

